@model CommercialAutomation.Models.Classes.Current
@{
    ViewBag.Title = "GetCurrent";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Cari Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateCurrent", "Current", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CurrentId)
        @Html.Label("CurrentName", "Cari Adı")
        @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
        @Html.Label("CurrentSurname", "Cari Soyadı")
        @Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })
        @Html.Label("CurrentTitle", "Cari Ünvanı")
        @Html.TextBoxFor(x => x.CurrentTitle, new { @class = "form-control" })
        @Html.Label("CurrentCity", "Cari Şehri")
        @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
        @Html.Label("CurrentMail", "Cari Maili")
        @Html.TextBoxFor(x => x.CurrentMail, new { @class = "form-control" })
    </div>
    <button class="btn btn-info"style="margin-left:20px;"> Cariyi Güncelle</button>
}

