@model CommercialAutomation.Models.Classes.SalesTransaction
@{
    ViewBag.Title = "CreateSale";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Satış Ekleme Sayfası</h2>
<br />
<br />
<form method="post" class="form-group" style="margin-left: 30px">
    @Html.Label("Product.ProductName", "Ürün Adı")
    @Html.TextBoxFor(x => x.Product.ProductName, new { @class = "form-control" })
    <br />
    @Html.Label("Current", "Cari Adı")
    @Html.DropDownListFor(x => x.Current, (List<SelectListItem>)ViewBag.currents, new { @class = "form-control" })
    <br />
    @Html.Label("Employee", "Çalışan Adı")
    @Html.DropDownListFor(x => x.Employee, (List<SelectListItem>)ViewBag.employees, new { @class = "form-control" })
    <br />
    @Html.Label("Price", "Fiyat")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Count", "Adet")
    @Html.TextBoxFor(x => x.Count, new { @class = "form-control" })
    <br />
    @Html.Label("TotalPrice", "Toplam Fiyat")
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />
    @Html.Label("Date", "Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" style="margin-left:20px;">Ekle</button>
</form>

